/* ##################################################################### */
/* ########################   ACTUS & LABOS   ########################## */
/* ##################################################################### */


/* ==========================================================================
   Flex-Container
   ========================================================================== */



.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-direction: row;
   flex-wrap: wrap;
}

.col3{
   display : flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-grow: 2;


}



/* ==========================================================================
   Flex-Items
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
